{% extends 'base.html' %}
{% block title %} Biblioteca {% endblock%}

{% block content %}

<br>
<br>
<p><font size="10" color="black" face="Copperplate">Sejam Bem Vindos!!</font></p>

                        <form  action="{{url_for('clientes.list')}}" method="GET"  >
                              <input class="btn btn-primary" style="width: 120px;0; height: 90px;0" type="submit" value="Clientes" ; />
                        </form>
                        <br>
                        <br>

                        <form action="{{url_for('livros.list')}}" method="GET">
                              <input class="btn btn-primary" style="width: 120px;0; height: 90px;0" type="submit" value="Livros" ; />
                        </form>

{% endblock%}